@using ProjectLibrary.Database
@using TeamplateHotel.Controllers
@using TeamplateHotel.Handler
@using ProjectLibrary.Config
@using TeamplateHotel.Models


<!DOCTYPE html>
<html lang="en">
<head>
    <title>EXO Travel - Distinctive Tailored tours of Asia | EXO Travel</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,600,700,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/css/fontawesome.css">
    <link rel="stylesheet" href="~/Content/css/all.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/index.css">
    <link rel="stylesheet" href="~/Content/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/css/owl.theme.default.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/jquery.fancybox.css" />
</head>

<body>
   
    <div class="modal fade" id="search" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close btn-x-close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">X</span>
                    </button>
                    <input type="text" class="form-control mg-top-40 mg-bt-40" value="" placeholder="Enter your search here">
                    <button type="submit" name="submit" class="btn btn-primary">Search</button>
                </div>
            </div>
        </div>
    </div>
    

    <div class="modal fade" id="agent_hub" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Please login to access the full Agent Hub.</h4>
                    <div class="tab-pane active" id="tab2">
                        <div class="tab-content">
                            <div class="row md-bot-15">
                                <div class="col-md-4">
                                    <label class="control-label">Email Address</label>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="col-md-4">
                                    <label class="control-label">Password</label>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="col-md-4 button-lg">
                                    <input type="submit" class="submit-login">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 agent-hub-login-box">
                                    <label>
                                        <input name="auto_login" value="1" type="checkbox"><span>Remember Me</span>
                                    </label>
                                    &nbsp;&nbsp;
                                    <span><a href="#" data-toggle="modal" data-target="#Modal-forgot">Forgot Password or Username</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="tab-pane active" id="tab2">
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Not registered?<a id="menu-toggle" href="#" data-toggle="collapse" data-target="#agenthub-register" class="collapsed" aria-expanded="false"> Please complete the form below <i class="fas fa-angle-double-down"></i></a></h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-4">
                            <ul>
                                <li><a href="#">Trade shows</a></li>
                                <li><a href="#">Webinars</a></li>
                                <li><a href="#">Fam Trips</a></li>
                                <li><a href="#">Industry News</a></li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <ul>
                                <li><a href="">Download Brochures</a></li>
                                <li><a href="">How to Book</a></li>
                                <li><a href="">Useful Information</a></li>
                                <li><a href="#"><i class="fas fa-lock"></i> Promotions</a></li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <ul>
                                <li><a href="#"><i class="fas fa-lock"></i> Photo Gallery</a></li>
                                <li><a href="#"><i class="fas fa-lock"></i> Contact Us</a></li>
                                <li><a href="#"><i class="fas fa-lock"></i> Construction Reports </a></li>
                                <li><a href="#"><i class="fas fa-lock"></i> Operations Reports</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @Html.Partial("Menu/MainMenus")

  
    @RenderBody()

    @Html.Partial("Footer/Footer")

    <script src="~/Content/js/popper.min.js"></script>
    <script src="~/Content/js/jquery.min.js "></script>
    <script src="~/Content/js/bootstrap.min.js "></script>
    <script src="~/Content/js/custom.js"></script>
    <script src="~/Content/js/owl.carousel.min.js"></script>
    <script src="~/Content/js/owl.carousel.js"></script>
    <script src="~/Content/js/highlight.js"></script>
    <script src="js/app.js"></script>
    <script type="text/javascript" src="~/Content/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="~/Content/js/jquery.mousewheel.pack.js"></script>
    <script type="text/javascript" src="~/Content/js/jquery.fancybox.pack.js"></script>
    <script>
        $(document).ready(function () {
            var owl = $('.owl-carousel');
            owl.owlCarousel({
                margin: 10,
                nav: true,
                loop: true,
                responsive: {
                    0: {
                        items: 1
                    },
                    600: {
                        items: 3
                    },
                    1000: {
                        items: 8
                    }
                }
            });
            // $('.owl-carousel').owlCarousel({
            //     loop:true,
            //     margin:10,
            //     nav:true,
            //     responsive:{
            //         0:{
            //             items:1
            //         },
            //         600:{
            //             items:3
            //         },
            //         1000:{
            //             items:5
            //         }
            //     }
            // })
        })
    </script>
</body>
</html>










