@using TeamplateHotel.Controllers
@using TeamplateHotel.Handler
@using TeamplateHotel.Models
@using ProjectLibrary.Database
@using ProjectLibrary.Config
@using ProjectLibrary.Security
@{
    ViewBag.HomePage = true;
    Layout = "~/Views/Shared/_LayoutPage.cshtml";

}
<div class="holdingbox-1">
    <a href="#" data-toggle="modal" data-target="#exampleModal">
        <div class="btn-sidebar-leftbox-1"><span>NEW TRAVEL ENQUIRY</span></div>
    </a>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Contact Us</h4>
                <p>We're experts who take pride in tailor-made itineraries that suit any need. Please fill in the form below and a member of our team will be in touch shortly.</p>
            </div>
            <div class="modal-body">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#tab1">New Travel Enquiry</a>
                    </li>
                </ul>
                <div class="tab-pane active" id="tab1">
                    <div class="tab-header">Please fill in the appropriate information below regarding any travel plans or enquiries. Our team of travel experts will get back to you shortly.</div>
                    <div class="tab-content">
                        <div class="row md-bot-15">
                            <div class="col-md-4">
                                <label class="control-label">First Name</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="col-md-4">
                                <label class="control-label">Last Name</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="col-md-4">
                                <label class="control-label">Email</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="row md-bot-15">
                            <div class="col-md-8">
                                <label class="control-label">First Name</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="col-md-4">
                                <label class="control-label">Last Name</label>
                                <div class="selectSty">
                                    <select class="from_sty selectpicker form-control">
                                        <option value="" selected="selected">None selected</option>
                                        <option value="">Vietnam</option>
                                        <option value="">Thailand</option>
                                        <option value="">Myanmar</option>
                                        <option value="">Laos</option>
                                        <option value="">aruco</option>
                                        <option value="">Cambodia</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row md-bot-15">
                            <div class="col-md-4">
                                <label class="control-label">Estimated Travel Date</label>
                                <input type="date" class="form-control">
                            </div>
                            <div class="col-md-4">
                                <label class="control-label">Estimated Duration</label>
                                <div class="selectSty">
                                    <select class="from_sty selectpicker form-control">
                                        <option value="" selected="selected">Choose Duration</option>
                                        <option value="">Less than 1 week</option>
                                        <option value="">1-2 week</option>
                                        <option value="">3-4 week</option>
                                        <option value="">More than 4 week</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label class="control-label">Adults</label>
                                        <input type="text" class="form-control">
                                    </div>
                                    <div class="col-md-4">
                                        <label class="control-label">Children</label>
                                        <input type="text" class="form-control">
                                    </div>
                                    <div class="col-md-4">
                                        <label class="control-label">Infants</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row md-bot-15">
                            <div class="col-md-12">
                                <label class="control-label">Itinerary plans or ideas</label>
                                <textarea class="form-control" name="itinerary_plans_or_ideas" rows="3"></textarea>
                            </div>
                        </div>
                        <div class="row md-bot-15">
                            <div class="col-md-4">
                                <label class="control-label">Your Contact Number</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="col-md-4">
                                <label class="control-label">Infants</label>
                                <div>
                                    <label class="radio-inline">
                                        <input type="radio" name="subscribe_to_newsletter" value="Yes">Yes
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="subscribe_to_newsletter" value="No">No
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input type="submit" name="" value="Submit">
            </div>
        </div>
    </div>
</div>
<section class="full-screen">
    <div class="video-main">
        <video preload="yes" autoplay="" data-setup="{}" id="videobg" loop="" muted="" style="display: block;">
            <source src="https://www.exotravel.com/assets/img/video/EXO-Homepage-BG-Video-6-3-2019.m4v" type="video/mp4">
            <source src="https://www.exotravel.com/assets/img/video/EXO-Homepage-BG-Video-6-3-2019.webm" type="video/webm; codecs=vp8, vorbis">
            <source src="https://www.exotravel.com/assets/img/video/EXO-Homepage-BG-Video-6-3-2019.mp4" type="video/mp4">
        </video>
        <div class="hero-content">
            <div class="hero-content-inner">
                <h1 class="font-bolds mg-bt-40 title-exo">EXPERIENCE OUR ASIA</h1>
                <h2 class="wow fadeInUp white"></h2>
                <div class="wow fadeIn">
                    <form>
                        <div class="btn-home-wrap text-center">
                            <div class="enter-search">
                                <input id="search-counties-1" type="text" class="autocomplete-dynamic" placeholder="Search EXO..." autocomplete="off">
                                <button class="btn-home-search" type="submit"><i><img src="~/Content/images/img-svg/icon-home-search.svg" alt=""></i></button>
                            </div>
                            <div>
                                <button class="btn-home" data-toggle="modal" data-target="#Modal-1" type="button"><i><img src="~/Content/images/img-svg/icon-get-In-touch.svg" alt=""></i>GET IN TOUCH</button>
                            </div>
                            <div> <a href="#newsletter" class="home-btn-newsletter btn-home"><i><img src="~/Content/images/img-svg/icon-home-newsletter.svg" alt=""></i>NEWSLETTER</a></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <a class="btn-scroll-down" href="#test">
            <img src="~/Content/images/icon-menu/arrow-down.png" alt="">
        </a>
    </div>
</section>
<section class="des-content" id="test">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center mg-top-40">
                <p>
                    <img src="~/Content/images/img-svg/exo-logo2.svg" alt="" style="width: 85px;height: 64px;">
                </p>
            </div>
            <div class="col-md-12 text-center">
                <h2 class="hightlight-underline">WHY EXO</h2>
            </div>
            <blockquote class="mg-top-40">
                <p>We've been pioneering unique journeys in Asia for more than two decades. Across each of the ten countries we operate in, we've developed in-depth tours that go far beyond the surface to reveal the heart of each destination. Along with our team of local and in-destination travel experts and time-tested logistics, we combine encyclopedic knowledge of the region with a progressive vision to make us one of Asia's most trusted and exciting DMCs.</p>
            </blockquote>
            <div class="col-md-12 fav-section text-center mg-top-40 mg-bt-40">
                <ul>
                    <li><a href="#">Discover More</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="bg-darks pd-bottom-40">
    <div class="container">
        <div class="row align-center mg-bt-40">
            <div class="col-md-12 text-center">
                <p>
                    <img src="~/Content/images/img-svg/icon-our-asia.svg" alt="" class="icon-svg">
                </p>
                <h2 class="hightlight-underline mg-bt-40">OUR ASIA</h2>
                <blockquote class="about-quote">
                    <p>Home to some of the world's most colourful cultures and exotic destinations, Asia is a veritable feast for the senses. Delve into our country selection to uncover a range of exhilarating, inspiring journeys.</p>
                </blockquote>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 mg-bot-20">
                <div class="thumbnail">
                    <a href="tour.html"><img src="~/Content/images/myanmar-agm.jpg" alt=""></a>
                    <div class="desc">
                        <h3>MYANMAR</h3>
                        <p><img src="~/Content/images/flags/icon-myanmar.png" alt=""></p>
                    </div>
                </div>
            </div>
            <div class="col-md-5 mg-bot-20">
                <div class="thumbnail">
                    <a href="tour.html"><img src="~/Content/images/vietnam-agm.jpg" alt=""></a>
                    <div class="desc">
                        <h3>VIETNAM</h3>
                        <p><img src="~/Content/images/flags/icon-vietnam.png" alt=""></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mg-bot-20">
                <div class="thumbnail">
                    <a href="tour.html"><img src="~/Content/images/thailand-agm.jpg" alt=""></a>
                    <div class="desc">
                        <h3>THAILAND</h3>
                        <p><img src="~/Content/images/flags/icon-thailand.png" alt=""></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 mg-bot-20">
                <div class="thumbnail">
                    <a href="tour.html"><img src="~/Content/images/laos-agm.jpg" alt=""></a>
                    <div class="desc">
                        <h3>LAOS</h3>
                        <p><img src="~/Content/images/flags/icon-laos.png" alt=""></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mg-bot-20">
                <div class="thumbnail">
                    <a href="tour.html"><img src="~/Content/images/indonesia-agm-02.jpg" alt=""></a>
                    <div class="desc">
                        <h3>INDONESIA</h3>
                        <p><img src="~/Content/images/flags/icon-indonesia.png" alt=""></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mg-bot-20">
                <div class="thumbnail">
                    <a href="tour.html"><img src="~/Content/images/cambodia-agm.jpg" alt=""></a>
                    <div class="desc">
                        <h3>CAMBODIA</h3>
                        <p><img src="~/Content/images/flags/icon-cambodia.png" alt=""></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 mg-bot-20">
                <div class="thumbnail">
                    <a href="tour.html"><img src="~/Content/images/japan-agm.jpg" alt=""></a>
                    <div class="desc">
                        <h3>JAPAN</h3>
                        <p><img src="~/Content/images/flags/icon-japan.png" alt=""></p>
                    </div>
                </div>
            </div>
            <div class="col-md-5 mg-bot-20">
                <div class="thumbnail">
                    <a href="tour.html"><img src="~/Content/images/china-agm.jpg" alt=""></a>
                    <div class="desc">
                        <h3>CHINA</h3>
                        <p><img src="~/Content/images/flags/icon-china.png" alt=""></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mg-bot-20">
                <div class="thumbnail">
                    <a href="tour.html"><img src="~/Content/images/malaysia-agm.jpg" alt=""></a>
                    <div class="desc">
                        <h3>MALAYSIA &amp; BORNEO</h3>
                        <p><img src="~/Content/images/flags/icon-malaysia.png" alt=""></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mg-bot-20">
                <div class="thumbnail">
                    <a href="tour.html"><img src="~/Content/images/singapore.jpg" alt=""></a>
                    <div class="desc">
                        <h3>MYANMAR</h3>
                        <p><img src="~/Content/images/flags/icon-singapore.png" alt=""></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mg-bot-20">
                <div class="thumbnail">
                    <a href="tour.html"><img src="~/Content/images/multi-country-3.jpg" alt=""></a>
                    <div class="desc">
                        <h3>VIETNAM</h3>
                        <p><img src="~/Content/images/flags/icon-multi-country.png" alt=""></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="des-content">
    <div class="container">
        <div class="row pd-bottom-40">
            <div class="col-md-12 text-center mg-top-40">
                <p>
                    <img src="~/Content/images/img-svg/icon-about-exo-2.svg" alt="" class="icon-overview">
                </p>
            </div>
            <div class="col-md-12 text-center">
                <h2 class="hightlight-underline">WHAT WE STAND FOR</h2>
            </div>
            <div class="col-md-12 text-center">
                <blockquote>
                    <p>Across each of our ten destinations, we operate under the same guiding principals. Besides providing unique and innovative experiences for travellers, we are dedicated to the task of remaining responsible and sustainable in all that we do. Our mission is to always leave places better than we've found them.</p>
                </blockquote>
            </div>
            <div class="col-md-12 mg-top-40">
                <div class="row mg-bot-20">
                    <div class="col-md-6 mg-bot-20 stand-for">
                        <div class="thumbnail">
                            <img src="~/Content/images/myanmar-agm.jpg" alt="">
                            <div class="desc">
                                <h3>About EXO</h3>
                                <p><img src="~/Content/images/img-svg/icon-about-exo.svg" alt="" class="icon"></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mg-bot-20 stand-for">
                        <div class="thumbnail">
                            <img src="~/Content/images/responsible.png" alt="">
                            <div class="desc">
                                <h3>VIETNAM</h3>
                                <p><img src="~/Content/images/img-svg/icon-responsible-home.svg" alt="" class="icon"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="bg-darks pd-bottom-40">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <p>
                    <img src="~/Content/images/img-svg/icon-place-we-love.svg" alt="" class="icon-svg">
                </p>
            </div>
            <div class="col-md-12 text-center mg-bt-40">
                <h2 class="hightlight-underline">TOURS WE LOVE</h2>
                <blockquote class="about-quote">
                    <p>Here at EXO, we're all travellers at heart. This is reflected in the exciting and immersive range of tours across Asia we've meticulously crafted. Here's a shortlist of tours we're especially proud of to fuel some wanderlust.</p>
                </blockquote>
            </div>
            <div class="col-md-12 text-center">
                <div class="row mg-bot-20 we-love">
                    <div class="col-md-4 mg-bot-20">
                        <div class="thumbnail">
                            <a href="tour-detail.html"><img src="~/Content/images/we-07.jpg" alt=""></a>
                            <div class="desc_top">
                                <h3>Essential Japan</h3>
                                <span>Japan</span>
                                <p><img src="~/Content/images/flags/icon-japan.png" alt=""></p>
                            </div>
                            <div class="desc_2">
                                <h3> 6 Days / 5 Nights</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mg-bot-20">
                        <div class="thumbnail">
                            <a href="tour-detail.html"><img src="~/Content/images/we-01.jpg" alt=""></a>
                            <div class="desc_top">
                                <h3>Japan Family Holiday</h3>
                                <span>Japan</span>
                                <p><img src="~/Content/images/flags/icon-japan.png" alt=""></p>
                            </div>
                            <div class="desc_2">
                                <h3> 14 Days / 13 Nights</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="thumbnail">
                            <a href="tour-detail.html"><img src="~/Content/images/we-02.jpg" alt=""></a>
                            <div class="desc_top">
                                <h3>Complete Kansai</h3>
                                <span>Japan</span>
                                <p><img src="~/Content/images/flags/icon-japan.png" alt=""></p>
                            </div>
                            <div class="desc_2">
                                <h3> 9 Days / 8 Nights</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="thumbnail">
                            <a href="tour-detail.html"><img src="~/Content/images/we-03.jpg" alt=""></a>
                            <div class="desc_top">
                                <h3>Complete Kansai</h3>
                                <span>Japan</span>
                                <p><img src="~/Content/images/flags/icon-japan.png" alt=""></p>
                            </div>
                            <div class="desc_2">
                                <h3> 9 Days / 8 Nights</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="thumbnail">
                            <a href="tour-detail.html"><img src="~/Content/images/we-04.jpg" alt=""></a>
                            <div class="desc_top">
                                <h3>Complete Kansai</h3>
                                <span>Japan</span>
                                <p><img src="~/Content/images/flags/icon-japan.png" alt=""></p>
                            </div>
                            <div class="desc_2">
                                <h3> 9 Days / 8 Nights</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="thumbnail">
                            <a href="tour-detail.html"><img src="~/Content/images/we-05.jpg" alt=""></a>
                            <div class="desc_top">
                                <h3>Complete Kansai</h3>
                                <span>Japan</span>
                                <p><img src="~/Content/images/flags/icon-japan.png" alt=""></p>
                            </div>
                            <div class="desc_2">
                                <h3> 9 Days / 8 Nights</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div id="addboxes-tours" class="mg-top-40 mg-bt-40 clearfix">
                            <a href="#" class="btn-view-more">View More</a>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <h2 class="hightlight-underline-black text-uppercase black">Subscribe to our newsletter!</h2>
                    </div>
                    <div class="col-md-12 text-center black">
                        <blockquote class="about-quote">
                            <p>The world of EXO Travel is always evolving. Stay in touch and we'll keep you up to speed!</p>
                        </blockquote>
                    </div>
                    <div class="col-md-12 about-exo-subscribe text-center">
                        <form>
                            <input name="email" class="newsletter-email" placeholder="Your email address" type="email" required=""> <a href="#" class="btn-about-subscribe">Subscribe</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="des-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center mg-top-40">
                <p>
                    <img src="~/Content/images/icon-menu/icon-getIntouch.png" alt="" class="icon-overview">
                </p>
            </div>
            <div class="col-md-12 text-center">
                <h2 class="hightlight-underline">GET IN TOUCH</h2>
            </div>
            <blockquote class="mg-top-40">
                <p>We love to talk travel. If you have any questions, please don't hesitate to get in touch. We're here to help!</p>
            </blockquote>
            <div class="col-md-12 fav-section text-center mg-top-40 mg-bt-40">
                <ul>
                    <li><a href="#"><i class="far fa-sticky-note icon-share"></i>Enquire</i></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="bg-darks">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <p>
                    <img src="~/Content/images/img-svg/icon-all-social.svg" alt="" class="icon-svg">
                </p>
            </div>
            <div class="col-md-12 text-center">
                <h2 class="hightlight-underline">our asia</h2>
                <blockquote class="about-quote">
                    <p>For inspiring experiences, real-time updates, the latest trends or casual conversation, explore our social networks for all things travel.</p>
                </blockquote>
            </div>
            <div class="col-md-12 text-center">
                <div class="social-links mg-bt-40">
                    <a target="_blank" title="Facebook" href=""><i class="fab fa-facebook-f"></i></a>
                    <a target="_blank" title="Twitter" href=""><i class="fab fa-twitter"></i></a>
                    <a target="_blank" title="Linkedin" href=""><i class="fab fa-linkedin-in"></i></a>
                    <a target="_blank" title="Googleplus" href=""><i class="fab fa-google-plus-g"></i></a>
                    <a target="_blank" title="Pinterest" href=""><i class="fab fa-pinterest-p"></i></a>
                    <a target="_blank" title="Youtube" href=""><i class="fab fa-youtube"></i></a>
                    <a target="_blank" title="Instagram" href=""><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="brand">
    <div class="container">
        <div class="row">
            <div class="large-12 columns col-md-12">
                <div class="destination-slider owl-carousel owl-theme">
                    <div class="item">
                        <div class="destination">
                            <a href="#" class="img-link">
                                <img src="~/Content/images/brand/1.png" alt="brand">
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="destination">
                            <a href="#" class="img-link">
                                <img src="~/Content/images/brand/2.png" alt="brand">
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="destination">
                            <a href="#" class="img-link">
                                <img src="~/Content/images/brand/3.png" alt="brand">
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="destination">
                            <a href="#" class="img-link">
                                <img src="~/Content/images/brand/4.png" alt="brand">
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="destination">
                            <a href="#" class="img-link">
                                <img src="~/Content/images/brand/5.png" alt="brand">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>