@using ProjectLibrary.Config

    <footer class="footer">
        <div class="container footer-top pd-bottom-40 ">
            <div class="row ">
                <div class="col-xl-9 col-lg-9 col-md-12">
                    <div class="row ">
                        <div class="col-md-3 col-sm-6 md-bot-15 ">
                            <img src="~/Content/images/logo/logo.png " alt="logo-footer ">
                        </div>
                        <div class="col-md-3 col-sm-6 md-bot-15 ">
                            <ul>
                                <li><a href="# ">The EXO Travel Story</a></li>
                                <li><a href="# ">EXO People</a></li>
                                <li><a href="# ">EXO Values</a></li>
                                <li><a href="# ">Why Travel with us</a></li>
                                <li><a href="# ">Responsible Travel</a></li>
                                <li><a href="# ">Voyage en Groupe</a></li>
                            </ul>
                        </div>
                        <div class="col-md-3 col-sm-6 md-bot-15 ">
                            <ul>
                                <li><a href="# ">Worldwide Offices</a></li>
                                <li><a href="# ">Contact Us</a></li>
                                <li><a href="# ">Careers</a></li>
                                <li><a href="# ">Terms of Use</a></li>
                                <li><a href="# ">Privacy Policy</a></li>
                            </ul>
                        </div>
                        <div class="col-md-3 col-sm-6 md-bot-15 ">
                            <ul>
                                <li>Follow us</li>
                                <li>
                                    <a href=" "><i class="fab fa-facebook-f icon-fl "></i> Facebook </a>
                                </li>
                                <li>
                                    <a href=" "><i class="fab fa-twitter icon-fl "></i></a>
                                </li>
                                <li>
                                    <a href=" "><i class="fab fa-pinterest icon-fl "></i> Pinterest </a>
                                </li>
                                <li>
                                    <a href=" "><i class="fab fa-linkedin-in icon-fl "></i> LinkedIn </a>
                                </li>
                                <li>
                                    <a href=" "><i class="fas fa-rss icon-fl "></i> RSS </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-12 form-sign-up-footer ">
                    <div class="sign-up ">Sign Up</div>
                    <div class="form ">
                        <form>
                            <input type="email " placeholder="Your email address " class="newsletter-email-footer ">
                            <input type="button " class="btn-about-subscribe-footer btn-submit " value="Sign up ">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fliud footer-bottom ">
            <div class="row ">
                <div class="col-md-12 ">
                    <div class="copy-right "><a href="# " class="alt-font ">© 2000-19 EXO TRAVEL ALL RIGHTS RESERVED</a></div>
                </div>
            </div>
        </div>
    </footer>